@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
:root {
    --font: 'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: var(--font);
}

body {
    background-color: aliceblue;
}
.all {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-cover {
    width: 20vw;
    height: 35vh;
    background-color: #FD4988;
    border-radius: 3rem;
    
    position: absolute;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.box {
    width: 20vw;
    height: 35vh;
    background-color: #6b1634;
    border-radius: 3rem;
    border: #FD4988 .5rem solid;
    box-shadow: 0px 0px 10px 3px darkgray;
    color:white;
    font-size: 2rem;
    padding: 16px;
}
.one {
    height: 35vh;
    width: 4rem;
    background-color: white;
    position: absolute;
    
}
/* .one , .two {
    box-shadow: 0px 0px 10px 3px darkgray;
}  */
.two {
    width: 100%;
    height: 4rem;
    background-color: white;
    align-self: center;

}
.huv {
    animation: hehe 3s;
}
@keyframes hehe {

   50% {
    transform: translate(-35%,-35%) rotate(-10deg);
   }
   100% {
    transform: translateY(1200%);
   }
}
